.tableContainer{
    text-align: left;
    padding-top: 20rem;
    padding: 0.5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.content{
    text-align: center;
}

.data{
    padding-left: 3 rem;
}

.heading {
    color:wheat;
    font-style: italic;
}

tr:nth-child(even){
    background-color: rgba(247, 230, 165, 0.7);
}

tr:nth-child(odd){
    background-color: rgba(255, 204, 95, 0.7);
}

tr,th,td {
    padding: 0.5rem;
    font-family: 'arial';
}

tr td {
    font-family: 'consolas';
    font-weight: 550;
}

.buttonContainer {
    padding: 1rem;
}

.button {
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgba(255,253,208);
    color: #5c4033;
    border: 1px solid #5a400d;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
}

.button:hover {
    background-color:#FFBE7C;
    border:1px solid #7b3f00;
    letter-spacing: 0.3rem;
}