.searchBarContainer{
    display: flex;
    padding-top: 2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center ;
}

.filterContainer{
    width: 14%;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgba(255,253,208,0.8);
    border: 2px solid black;
    border-radius: 0.5rem;
    font-family: 'Arial';
    font-size: 1.1rem;   
    font-style: italic;
}

.button {
    padding: 0.8rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: rgba(255,253,208);
    font-family: 'arial';
    font-weight: 550;
    font-size: 0.8rem;
}

.button:hover {
    background-color: #FFBE7C;
}

.input {
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: rgba(255,253,208,0.8);
    font-size: 1rem;
    font-style: italic;
    width: 85%;
}

.select {
    background-color:rgba(255,253,208) ;
}